input
  padding: 0.5em
  border: 1px solid #ccc
  background-image: none !important
  transition: ease-out 0.1s all
  &:focus
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5)
    border-color: #a44
    outline: none
  &:hover
    border-color: #a44
