*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  font-family: 'Maven Pro'
  font-size: 16px
  font-weight: 600
  letter-spacing: 0.25em
  color: #666

html,body,#root
  height: 100%
  width: 100%
  transform-style: preserve-3d

body
  background: radial-gradient(farthest-corner at 50% 50%, #f7f7f7 0%, #ccc 100%)