.login-panel
  position: relative
  top: 50%
  transform: translateY(-50%)
  margin-left: auto
  margin-right: auto
  width: 30em
  .moeblob
    background-image: url('../assets/img/moe.png')
    background-size: contain
    background-repeat: no-repeat
    background-position: 90% 10%
    position: absolute
    height: 100px
    width: 100%
    top: -71px